<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript Basics</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/df68dd1605.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="kitchen-header">
            <form action="" method="post">
                <input type="text" placeholder="" id="kitchen-input" name="items" />
                <button id="add-btn">Add now</button>
            </form>
        </div>



        <ul id="kitchen-items-list" class="kitchen-items-list">

            <% data.forEach((i) => {%>
                <li>
                    <%=i.items%>
                        <a href="/delete?id=<%=i.id%>"> <button><i class="fas fa-trash-alt"></i></button></a>
                </li>
                <%})%>


        </ul>

    </div>


</body>

</html>